*

!.gitignore
!.envrc
!flake.lock
!flake.nix
!pyproject.toml
!uv.lock
!mkdocs.yml
!README.md
!LICENSE

!docs/
!docs/*.md

!src/
!src/python_google_showcase.py

!src/mkdocstrings_handlers/

!src/mkdocstrings_handlers/R/
!src/mkdocstrings_handlers/R/*.py

!src/mkdocstrings_handlers/R/_internal/
!src/mkdocstrings_handlers/R/_internal/*.py

!src/mkdocstrings_handlers/R/templates/

!src/mkdocstrings_handlers/R/templates/material/
!src/mkdocstrings_handlers/R/templates/material/*.html.jinja

!tests/

!tests/R/
!tests/R/*.R


