*

!.gitignore
!.envrc
!flake.lock
!flake.nix
!pyproject.toml
!uv.lock
!mkdocs.yml
!README.md
!LICENSE

!static/
!static/*.png

!src/
!src/mkdocstrings_handlers/

!src/mkdocstrings_handlers/R/
!src/mkdocstrings_handlers/R/*.py

!src/mkdocstrings_handlers/R/_internal/
!src/mkdocstrings_handlers/R/_internal/*.py

!src/mkdocstrings_handlers/R/templates/

!src/mkdocstrings_handlers/R/templates/material/
!src/mkdocstrings_handlers/R/templates/material/*.html.jinja
!src/mkdocstrings_handlers/R/templates/material/*.css

!tests/

!tests/**/*.py

!tests/renv/
!tests/renv/.Rprofile
!tests/renv/.Rbuildignore
!tests/renv/renv.lock
!tests/renv/DESCRIPTION
!tests/renv/mkdocs.yml


!tests/renv/R/
!tests/renv/R/*.R

!tests/renv/docs/
!tests/renv/docs/*.md

!tests/renv/renv/
!tests/renv/renv/activate.R
!tests/renv/renv/settings.json

!.github/

!.github/workflows/
!.github/workflows/*.yml
