{% filter heading(heading_level=2, id=data.html_id) %}
    {{ data.docstring.name }}
{% endfilter %}
{% filter convert_markdown(heading_level=3) %}
{{ data.docstring.description }}
{% endfilter %}
{% filter heading(heading_level=3, id=data.html_id) %}
    {{ "Parameters" }}
{% endfilter %}
<table>
    <thead>
        <tr>
            <th>{{ "Name" }}</th>
            <th>{{ "Description" }}</th>
        </tr>
    </thead>
    <tbody>
        {% for param in data.docstring.params %}
            <tr>
                <td>{{ param.name }}</td>
                <td>{{ param.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% filter heading(heading_level=3, id=data.html_id) %}
    {{ "Returns" }}
{% endfilter %}
{% filter convert_markdown(heading_level=3) %}
{{ data.docstring.returns }}
{% endfilter %}

{% filter heading(heading_level=3, id=data.html_id) %}
    {{ "Examples" }}
{% endfilter %}
{% filter convert_markdown(heading_level=3) %}
{{ data.docstring.examples }}
{% endfilter %}
